@font-face {
  font-family: "r";
  src: url("../fonts/Galano Grotesque Alt Light.otf");
}

@font-face {
  font-family: "b";
  src: url("../fonts/Galano Grotesque Alt Semi Bold.otf");
}
header {
  font-family: "b";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "b";
}

* {
  font-family: "r";
}


.socialContact:hover img {
  transform: scale(1.15);
  transition: 0.2s;
}
